.first{
  display: flex;
  background: linear-gradient(#F8E3C9, #F6F4EC);
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.image{
  height: 60%;
  width: 60%s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.header{
  color: #CCA18B;
  font-size: 100px;
  justify-content: space-between;
}
