

*{
  margin: 0;
  padding: 0;
}
.first{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  
  background: linear-gradient(326.34deg, #F8E3C9 9.89%, rgba(246, 244, 236, 0) 130.95%);
}

.header{
  z-index: 0;
  color: #CCA18B;
  font-size: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}
.header2{
  z-index: 0;
  color: #CCA18B;
  font-size: 40px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  margin-top: 60px;
}
.header3{
  z-index: 0;
  color: #CCA18B;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  margin-top: 0;
}

.image{
  position: absolute;
  height: 400px;
  /* left: 188px; */
  top: 160px;
  
}

.lol {
  color: red
}

.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonOne{
  position: absolute;
  left: 33.47%;
  right: 33.47%;
  top: 79.53%;
  bottom: 13.65%;
  
  background: #DAAC9A;
  border-radius: 10px;
  border-color: #DAAC9A;
}